@use 'sass:map';
@use '../partials/variables' as v;

.navbar {
  margin: -10% 0 5% 0;
  
  a {
    color: map-get(v.$colors, cl-light);
    
    &:hover {
      text-decoration: none;
      color: map-get(v.$colors, cl-light-1);
    }
  }
}